body{
    background-color: white;
    height:100%;
}
.container{
    position:fixed;
    min-height:100%;
    min-width: 100%;
}
.topnav{
    position:fixed;
    top:0;
    left:0;
    display:inline;
    height:auto;
    width:100%;
    z-index: 10000;
}
#nav_table{
    margin-top: 0px;
    width:100%;
    background-color: #006198;
}
#nav_th{
    width:50%;
}
.navbar_left{
    float:left !important;
    padding-left: 10px;
    margin: 0;

}
.navbar_right{
    float:right !important;
    padding-right: 20px;
    margin:0;
}
.topnav li{
    float: left;
    display:inline-block;
    text-align:center;
    padding:1px 16px;
    text-decoration:none;
    font-size:17px;

}
.topnav li>a{
    color: white;
    float: left;
    text-align:center;
    padding:10px 16px;
    text-decoration:none;
    font-size:17px;

}
.topnav a:hover{
    background: #ddd;
    color:black;
}


.content{
    position:absolute;
    top:0px;
    left:0px;
    padding-top: 16px;
    padding-bottom: 16px;
    height:100%;
    width: 100%;
    background-color: #eeeeee;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.center_content{
    position:relative;
    height:100%;
    width:auto;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    background-color: white;
    overflow: hidden;
}
.centercontent_layout0{
    display: block;
    position:relative;
    height:100%;
    width:auto;
    background-color: whitesmoke;
    overflow: hidden;

}
.centercontent_layout1{
    display: none;
    position:relative;
    height:100%;
    width:auto;
    background-color: white;
    overflow:hidden;

}
#lt1_left{
    height:93%;
    width:100%;
    background-color: white;
}
#lt1_right{
    float:right;
    height:7%;
    width:100%;
    background-color: white;
}
#lt1_left_hide{
    display: none;
    float:left;
    width:70%;
    background-color: white;
}
#lt1_right_hide{
    display: none;
    float:right;
    width:30%;
    background-color: white;
}
.centercontent_layout2{
    display: none;
    position:relative;
    height:100%;
    width:auto;
    background-color: white;
    overflow: scroll;

}
.footer{
    position:fixed;
    bottom:0;
    left:0;
    height:40px;
    background-color: #006198;
    width:100%;
    z-index: 10000;
    text-align: center;
}
.footer p{

    text-align:left;
    text-decoration: none;
    font-size:15px;

}

.black_overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 100100;
    -moz-opacity: 0.8;     /* safari */
    opacity: .80;
    filter: alpha(opacity=80); /* IE */
}
.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 16px solid orange;
    background-color: white;
    z-index: 100200;
    overflow: auto;
}

#centercontent_left{
    float:left;
    width:50%;
    background-color: white;

}
#centercontent_left_hide{
    float:left;
    width:50%;
    display:none;
    background-color: white;

}
#centercontent_right{
    float:right;
    width:50%;
}

input {
    vertical-align: middle;
    margin-left: 5px;
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
.inputDisabled{
    background-color: wheat;
    text-align: center;
}
.jqbtn {
    text-decoration: underline;
    color: blueviolet;
    text-decoration-color: blueviolet;
    font-size: 16px;
}
.adbtn{
    /*
    position: relative;
    margin-left: 10px;
    margin-top:20px;
    width:120px;
    height:40px;
    border:3px;
    orange:double;
    background-color: #dddddd;
    */
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
delbtn{
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #EEE
}
#tb1{
    width:100%;
    table-layout: fixed;
}

#team {
    border: 1px solid blue;
    background-color: #c7ebee;
    width: 100%;

}
#team table th{
    height: 20px;
}

.trads{
    background-color: white;
}
#tb1 tr:hover{
    background-color: darkgrey;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #006198;
    color: white;
    padding: 16px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 40px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ddd;

}


