body{
    background-color: white;
    height:100%;
}
.container{
    position:static;
    min-height:100%;
}
.topnav{
    position:fixed;
    top:0;
    left:0;
    display:inline;
    height:auto;
    width:100%;
    z-index: 10000;
}
table{
    margin-top: 0px;
    width:100%;
    background-color: #006198;
}
th{
    width:50%;
}
.navbar_left{
    float:left !important;
    padding-left: 10px;
    margin: 0;

}
.navbar_right{
    float:right !important;
    padding-right: 20px;
    margin:0;
}
.topnav li{
    float: left;
    display:inline-block;
    text-align:center;
    padding:1px 16px;
    text-decoration:none;
    font-size:17px;

}
.topnav li>a{
    color: white;
    float: left;
    text-align:center;
    padding:10px 16px;
    text-decoration:none;
    font-size:17px;

}
.topnav a:hover{
    background: #ddd;
    color:black;
}


.content{
    position:absolute;
    top:0px;
    left:0px;
    padding-top: 16px;
    padding-bottom: 16px;
    height:100%;
    width: 100%;
    background-color: #eeeeee;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.center_content{
    position:relative;
    height:100%;
    width:auto;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    background-color: white;
    overflow: scroll;
}

.jqbtn {
    text-decoration: underline;
    color: blueviolet;
    text-decoration-color: blueviolet;
    font-size: 16px;
}
.footer{
    position:fixed;
    bottom:0;
    left:0;
    height:40px;
    background-color: #006198;
    width:100%;
    z-index: 10000;

}
.footer p{

    text-align:left;
    text-decoration: none;
    font-size:15px;

}

.black_overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    margin-bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 100100;
    -moz-opacity: 0.8;     /* safari */
    opacity: .80;
    filter: alpha(opacity=80); /* IE */
}
.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 16px solid orange;
    background-color: white;
    z-index: 100200;
    overflow: auto;
}

#centercontent_left{
    float:left;
    width:50%;
    background-color: white;

}
#centercontent_left_hide{
    float:left;
    width:50%;
    display:none;
    background-color: white;

}
#centercontent_right{
    float:right;
    width:50%;
}

input {
    margin-left: 5px;
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
